.dashboard-container{
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin : 0 auto;
}

.chart-container {

  margin-bottom: 30px;
  width: 100%;
  max-width: 600px;
}
